.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Form Styles */
h1 {
  color: red;
}

.formContainer {
  display: grid;
  grid-template-columns: 300px;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  margin: 40px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.formContainer div {
  width: 300px;
  padding: 2px;
}

div.error {
  height: 20px;
  position: relative;
  color: red;
  padding: 2px;
}

/* weather card style */
.weather {
  margin: auto;
  margin-top: 50px;
  padding: 10px;
  width: 200px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

@media only screen and (min-width: 982px) {
  .formContainer {
    grid-template-columns: 300px 300px 300px;
    justify-content: center;
    align-items: center;
    grid-column-gap: 20px;
    max-width: 1000px;
    margin: auto;
  }
}
